<% @costumes.each do |costume| %>
  <h4><%= link_to "Show #{costume.name.capitalize} costume", costume_party_costume_path(costume.costume_party, costume) %></h4><br>
<% end %><br>

<%= link_to "CREATE NEW COSTUME", new_costume_path %>
