<% @parties.each do |party| %>
  <h4><%= link_to "#{party.name}", costume_party_path(party) %></h4><br>
  <p><%= party.time %> p.m.</p>
  <p><%= party.date %></p>
  <p><%= party.user.create_username %>'s Party</p>
<% end %>
